*{
    margin: 0;
    padding: 0;
}

/* nav bar style start */
nav{
    background-image: url(images/Hero-bg.png);
    height: 698px;
    width: auto;
    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px 0 150px;
}

.logo{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    text-transform: uppercase;
}

.signup-btn{
    
}


/* nav bar style end */
/* shared code */
.btn-style{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
     color: #FFFFFF;
     font-weight: bold;
     font-size: 16px;
    border: none;
    border-radius: 12px;
    padding: 12px 36px 12px;
}




/* shared code end */
/* hero section style start */

.hero-section{
padding: 158px 267.5px 152px 267.5px;
text-align: center;
}
.hero-text{
font-family: "Raleway", sans-serif;
font-size: 65px;
font-weight: bold;
color: #252432;
}

.hero-btn{
margin-top: 37px;
}
/* heo section style end */

/* action section style start */